/*
*= require_tree .
*= require_self
*/

* { margin: 0; padding: 0; }

html, body {
  width: 95%; height: 95%;
  margin: 0.5% auto;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

#welcome-canvas {
  position: absolute;
  background: url(../images/background.png);
  background-size: cover;
  border: 1px solid rgb(152, 61, 151);
}

#canvas {
  position: absolute;
  background: url(../images/portal.jpg);
  background-size: cover;
  border: 1px solid rgb(50, 51, 108);
}
